
@{
    ViewData["Title"] = "Index";
}

@model Donuts

<dl class="row">

    @for (int i = 0; i < Model.Results.Length; i++)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results[i].Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results[i].Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Results[i].Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Results[i].Name)
        </dd>
    }

</dl>

<form asp-action="Search" method="post">
    Id: <input type="number" name="id" min="1" max="8" required />
    <button type="submit">GIMME DONUT!</button>
</form>

