@{
    ViewData["Title"] = "Home Page";
}


<div class="text-lg-center">
    <h1>Welcome Home</h1>

    <hr />

    <ul class="">
        <li><a asp-controller="Donut" asp-action="Index">Donut what to do!</a></li>
        <li><a asp-controller="HallOfFame" asp-action="Index">Hall Of Fame</a></li>
        <li><a asp-controller="GrandCircus" asp-action="Index">Grand Circus</a></li>
        <li><a asp-controller="Planet" asp-action="Index">Planet Side</a></li>
    </ul> 
</div>
